<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition>

            <div class = "col-sm-3 col-sm-offset-1">
                <div class = "thumbnail col-sm-7">
                    <img src = "#{navigationController.books.coverUrl}" alt = "Generic placeholder thumbnail"/>
                

                <div class = "caption col-sm-11">
                    <h3>#{navigationController.books.title}</h3>
                    <p>by #{navigationController.books.author}<br/>
                        <small>Published <h:outputText value="#{navigationController.books.publishedDate}">
                                              <f:convertDateTime  dateStyle="medium" type="date" pattern="d MMM, yyyy" />   
                                            </h:outputText></small></p>
                    

                </div>
            </div>
            </div>


        </ui:composition>
    </h:body>
</html>

