<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Client Display Page</title>
    </h:head>
    <h:body>
        <ui:insert name="header">
            <ui:include src="header_logged.xhtml"/> 
        </ui:insert>
        <h:form>
            <b:dataTable value="#{usersBackingBean.users}"
                         var="user" col-sm="10" offset="1">
                <b:dataTableColumn label="First Name" value="#{user.firstName}" />
                <b:dataTableColumn label="Last Name" value="#{user.lastName}" />
                <b:dataTableColumn label="Email Address" value="#{user.email}" />
                <b:dataTableColumn label="Book Title" value="#{user.bookTitle.title}" />
                
                
            </b:dataTable>
        </h:form>
        <ui:insert name="footer">
            <ui:include src="footer.xhtml"/> 
        </ui:insert>
    </h:body>
</html>

