<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Download Page</title>
        <script>
            var takeMeHome = function(){
                document.getElementById('download_gif').style.display = "initial";
                setTimeout(function(){ 
                 window.location="index.xhtml"; }, 500);
            }
        </script>
    </h:head>
    <h:body>

        <ui:insert name="header">

            <ui:include src="header_logged.xhtml"/>

        </ui:insert>
        
            <svg id="download_gif" style="position: absolute; top: 200px; left: 44%; display: none"  width='168px' height='168px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ripple"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g> <animate attributeName="opacity" dur="2s" repeatCount="indefinite" begin="0s" keyTimes="0;0.33;1" values="1;1;0"></animate><circle cx="50" cy="50" r="40" stroke="#afafb7" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="r" dur="2s" repeatCount="indefinite" begin="0s" keyTimes="0;0.33;1" values="0;22;44"></animate></circle></g><g><animate attributeName="opacity" dur="2s" repeatCount="indefinite" begin="1s" keyTimes="0;0.33;1" values="1;1;0"></animate><circle cx="50" cy="50" r="40" stroke="#5cffd6" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="r" dur="2s" repeatCount="indefinite" begin="1s" keyTimes="0;0.33;1" values="0;22;44"></animate></circle></g></svg>
        
        <figure class="text-center ">

            <img src="#{loginController.books.coverUrl}" style="width: 250px; margin-top: 10px;" alt="..."/>
            <figcaption class="figure-caption">
                <h4>#{loginController.books.title}</h4>
                <p>by #{loginController.books.author}<br/>

                    <small>Published
                        <h:outputText value="#{loginController.books.publishedDate}">
                            <f:convertDateTime  dateStyle="medium" type="date" pattern="d MMM, yyyy" />
                        </h:outputText>
                    </small>
                </p>


                <h:form>
                    <b:commandButton value="Download" ajax="false" look="success" onclick="takeMeHome()">
                        <p:fileDownload value="#{fileDownloadView.file}"  />
                    </b:commandButton>
                </h:form>

            </figcaption>


        </figure>

        <ui:insert name="footer">

            <ui:include src="footer.xhtml"/>

        </ui:insert>

    </h:body>
</html>

