<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
    
    <h:body>
        <ui:composition>
            <nav class="navbar-default navbar-fixed-bottom" style="height: 30px; padding-top: 10px;">
                <div class="container-fluid">
                    <p class=" text-center small"> <b:iconAwesome name="copyright" /> 2017 Jean Claude Uwimpuhwe, CEJV 559 LAB 03</p>
                </div>
            </nav>
        </ui:composition>
    </h:body>
</html>

