<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
    
    <h:body>
        <ui:composition>
            <b:navBar inverse="true" brand="e-BOOK STORE">
                    <b:navbarLinks>
                        <b:navCommandLink outcome="index" iconAwesome="home" value="Home" />
                        <b:navLink value="#{msgs.signInLabel}" href="login.xhtml"/>
                    </b:navbarLinks>
                    <b:navbarLinks pull="right">
                        <b:navLink value="#{msgs.mailingListLabel}" icon-awesome="users" outcome="client_display.xhtml"/>
                    </b:navbarLinks>
                    
                </b:navBar>
            
        </ui:composition>
    </h:body>
</html>

