<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>The Mailing List Builder</title>
    </h:head>
    <h:body>
        <h:form>
            <ui:insert name="header">
                <ui:include src="header.xhtml" />
            </ui:insert>
            <div class="container">
                <div class="row">
                    <div style="margin-top: 120px;" class="col-sm-7" >
                        <h1 class="heading">
                          #{msgs.mainTitle}  
                        </h1>
                        <hr/>
                        <p>By <a href="#">Jean Claude Uwimpuhwe</a><b:button value="Gitlab" style="margin-left: 20px;" icon-awesome="gitlab" look="success"/></p>
                        <p>#{msgs.mainDesc}</p>
                       
                    </div>
                    <div class="col-sm-5" >
                        <h3>#{msgs.featuredLabel}</h3>  

                        <b:carousel id="bookstore" style="width:300px">
                            <c:forEach items="#{booksBackingBean.books}" var="book">
                                <b:carouselItem>

                                    <img src="#{book.coverUrl}" alt="ebook" style="width:320px"/>
                                    <b:carouselCaption>

                                        <h3>#{book.title}</h3>
                                        ...
                                        <p>#{msgs.byLabel} #{book.author}<br/>
                                        
                                            <small>#{msgs.publishedLabel}
                                            <h:outputText value="#{book.publishedDate}">
                                                <f:convertDateTime  dateStyle="medium" type="date" pattern="d MMM, yyyy" />
                                            </h:outputText>
                                            </small>
                                        </p>
                                        <h:commandButton value="#{msgs.downloadButton}" class="btn btn-success" action="#{navigationController.register}">
                                            <f:param name="booksTitle" value="#{book.title}" />
                                            
                                        </h:commandButton>
                                    </b:carouselCaption>



                                </b:carouselItem>
                            </c:forEach>
                        </b:carousel>

                    </div>
                </div>
            </div>





            <ui:insert name="footer">
                <ui:include src="footer.xhtml" />
            </ui:insert>
        </h:form>
    </h:body>
</html>

