<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <h:body>
        <ui:composition>
        <b:growl id="growlMsg" globalOnly="true" placementFrom="bottom" placement-align="center"
                     show-detail="true" show-summary="false" allowDismiss="true"
                     delay="10000" escape="true" /> 
            <div style="width: 400px; margin: 180px auto;"> 
                <div class="center-block"> 
                    <h:form styleClass="form-signin" prependId="false">
                        
                        <div class="panel panel-default" style="box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); border-radius: 5px;">
                            <div class="panel-heading">
                                <h3 class="form-signin-heading">Sign In</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <b:inputText value="#{loginController.email}" placeholder="Email address" col-sm="11" p:required="required" >
                                        <f:facet name="prepend">
                                            <b:icon name="user" />
                                        </f:facet>
                                    </b:inputText>
                                </div>
                                <div class="form-group">
                                    <b:inputText value="#{loginController.password}" placeholder="Password" type="password" col-sm="11" p:required="required">
                                        <f:facet name="prepend">
                                            <b:iconAwesome name="lock" />
                                        </f:facet>
                                    </b:inputText>
                                </div>
     
                                <div class="form-group">
                                    <b:commandButton look="primary" value="#{msgs.loginButton}" icon="log-in"  action="#{loginController.login}" style="margin-left: 14px;"/>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>

        </ui:composition>
    </h:body>
</html>

