<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Login Page</title>
    </h:head>
    <h:body>
        <ui:insert name="header">
            <ui:include src="header_home.xhtml"/>
        </ui:insert>
        <ui:insert name="main">
            <ui:include src="login_form.xhtml"/>
        </ui:insert>
        <ui:insert name="footer">
            <ui:include src="footer.xhtml"/>
        </ui:insert>
    </h:body>
</html>

