<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition>
            <b:growl id="growlMsg" globalOnly="true" placementFrom="bottom" placement-align="right"
                     show-detail="true" show-summary="false" allowDismiss="true"
                     delay="10000" escape="true" /> 
            <div class="col-sm-4 col-sm-offset-2">
                <div class="panel panel-success" style="box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); border-radius: 5px;">
                    <div class="panel-heading">
                        <h3 class="heading text-center" style="font-family: 'Open Sans', sans-serif">Subscribe To Our Newsletter To Get Your Free e-Book Copy</h3>
                    </div>

                    <div class="panel-body">


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <b:inputText placeholder="First Name" value="#{usersEntryBean.users.firstName}" p:required="required"/>

                            </div>
                            <div class="form-group col-sm-6">
                                <b:inputText placeholder="Last Name" value="#{usersEntryBean.users.lastName}" p:required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <b:inputText id="email" placeholder="Email Address" value="#{usersEntryBean.users.email}" p:required="required" p:pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Invalid email address">

                            </b:inputText>
                        </div>
                        <div class="form-group">
                            <b:inputText placeholder="Password" type="password" value="#{usersEntryBean.users.password}" p:required="required" p:pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="UpperCase, LowerCase and Number"/>
                        </div>
                        <div class="form-group">
                            <b:inputText placeholder="Street Address" value="#{usersEntryBean.users.streetAddress}" p:required="required"/>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-7">
                                <b:inputText placeholder="City" value="#{usersEntryBean.users.city}" p:required="required"/>
                            </div>

                            <div class="form-group col-sm-5">
                                <b:inputText  placeholder="Postal Code" value="#{usersEntryBean.users.postalCode}" p:required="required" p:pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]" title="Enter a valid canadian postal code"/>
                            </div>
                        </div>
                        <div class="row">


                            <div class="form-group col-sm-7">
                                <b:inputText placeholder="Province" value="#{usersEntryBean.users.province}" p:required="required"/>
                            </div>
                            <div class="form-group col-sm-5">
                                <b:inputText placeholder="Country" value="#{usersEntryBean.users.country}" p:required="required"/>
                            </div>
                        </div>



                        <div class="form-group" style="margin-top: 30px;">
                            <b:commandButton value="Subscribe" action="#{usersEntryBean.createUser}" look="success" class="btn-success btn-block btn-lg" >
                                <f:param name="bookTitle" value="#{navigationController.books}"/>
                            </b:commandButton>    
                        </div>

                    </div>
                </div>

            </div> 
        </ui:composition>
    </h:body>
</html>

